<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterAction</servlet-name>
        <servlet-class>action.RegisterAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alogin</servlet-name>
        <servlet-class>action.alogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tpalog</servlet-name>
        <servlet-class>action.tpalog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dlogin</servlet-name>
        <servlet-class>action.dlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bugreport</servlet-name>
        <servlet-class>action.bugreport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatedev</servlet-name>
        <servlet-class>action.updatedev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatestatus</servlet-name>
        <servlet-class>action.updatestatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterAction</servlet-name>
        <url-pattern>/RegisterAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alogin</servlet-name>
        <url-pattern>/alogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tpalog</servlet-name>
        <url-pattern>/tpalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dlogin</servlet-name>
        <url-pattern>/dlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bugreport</servlet-name>
        <url-pattern>/bugreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatedev</servlet-name>
        <url-pattern>/updatedev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatestatus</servlet-name>
        <url-pattern>/updatestatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
